@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f4f7; /* Adjust to a light background if needed */
  color: #333; /* Default text color */
}

.main-div {
  display: flex;
  flex-direction: row;
}

.section-1 {
  width: 45%;
  height: 50dvh;
  padding: 10px;
  object-fit: contain;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Blue */
  color: #fff; /* White text */
}

button {
  background-color: #28a745; /* Green */
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff; /* Blue */
  padding: 5px 20px;
  border-bottom: 2px solid #ccc;
}

header img {
  display: block;
  margin-right: 20px;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #fff; /* White */
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.link:hover,
.user-actions:hover {
  background-color: #0056b3; /* Darker blue */
  color: #fff;
}

.user-actions {
  display: flex;
  align-items: center;
  color: #fff; /* White */
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

li {
  list-style: circle;
}

.main-content {
  padding: 20px;
  min-height: calc(81vh);
  background-color: #f9f9f9;
}

/* .main-about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sec1, .sec2 {
  width: 47.5dvw;
  height: 50dvh;
  padding: 2%;
} */

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #007bff; /* Blue */
  border-top: 2px solid #ccc;
  position: relative;
  width: 100%;
}

.footer p {
  margin: 0;
  color: #fff; /* White */

}

.about-container {
  background-color: #f0f4f7; /* Adjust as needed */
  color: #333; /* Default text color */
  padding: 20px;
}

.main-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.sec1, .sec2 {
  width: 48%; /* Adjust as needed */
  height: auto;
}

.sec1 {
  padding-right: 10px;
}

.sec2 {
  padding-left: 10px;
}

.sec2 h2 {
  color: #007bff; /* Blue color from the theme */
}

.sec2 p {
  font-size: 1.2rem;
  line-height: 2;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .link {
    margin-bottom: 10px;
  }

  .user-actions {
    margin-top: 10px;
  }
  .main-about {
    flex-direction: column;
    align-items: center;
  }

  .sec1, .sec2 {
    width: 100%;
    padding: 0;
  }

  .sec1 {
    padding-bottom: 20px;
  }
}
