.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007bff;  /* Green */
  width: 20rem;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
  border-radius: 10px;
  margin: 10px;
  color: #fff; /* White text */
}

.card h2 {
  margin: 0;
  margin-top: 1rem;
  color: #fff; /* White */
}

.card p {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.card .btnn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
